/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.anchor{
	-fx-background-color: transparent;
}

.vbox{
	-fx-background-color: #1B184A;
	-fx-border-color: #3D87AE;
	-fx-border-width: 1px;
}

.hbox{
	-fx-background-color: #182F4A;
}

.form-btn{
	-fx-background-color: #3D87AE;
}

.dropdown{
	-fx-background-color: #3D87AE;
}

.dropdown .label{
	-fx-text-fill: #d3d3d3;
}

.dropdown .list-view .list-cell{
	-fx-text-fill: #d3d3d3;
}

.input-text{
	-fx-background-color: #3D87AE;
}